<%- unless @lat_lng %>
<script>
  getGeoLocation();
</script>
<%- end %>

<div class="container">
	<% if @lat_lng %>
		<%= render partial: 'pages/restaurant_card', locals: { restaurant: @restaurants.first}  %>
	<% end %>
</div>