<%- unless @lat_lng %>
<script>
  getGeoLocation();
</script>
<%- end %>

<div class="container">
	<% if @lat_lng %>
		<% @restaurants[0..19].each do |restaurant| %>
			<%= render partial: 'pages/restaurant_card', locals: { restaurant: restaurant}  %>
		<% end %>
	<% end %>
</div>