<h1>Listing yelp_restaurants</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @yelp_restaurants.each do |yelp_restaurant| %>
      <tr>
        <td><%= link_to 'Show', yelp_restaurant %></td>
        <td><%= link_to 'Edit', edit_yelp_restaurant_path(yelp_restaurant) %></td>
        <td><%= link_to 'Destroy', yelp_restaurant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Yelp restaurant', new_yelp_restaurant_path %>
