/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery.mobile.squareui
 *= require swipebox.min
 */

body {
  background-color: #eaeaea;
}

 .container {
 	position: absolute;
 	overflow: hidden;
 	left: 0px;
 	right: 0px;
 	top: 44px;
 	bottom: 0px;
  /*background: #eaeaea;*/
 }

 .container.shortlistings {
  overflow: visible;
 }

 .left {
 	float:left;
 }

 .right {
 	float:right;
 }

 .clear {
 	clear:both;
 }

.underline {
	text-decoration:underline;
}

.restaurant {
  height: 300px;
  /*box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.3);*/
  border: 1px solid #ccc;
  background: #fff;
}

.restaurant.stacked {
  position: absolute;
  top: 25px;
  left: 25px;
  right: 25px;
  margin: 0px; 
}

.shortlistings .restaurant {
  margin: 25px 25px 0px 25px;
  position: relative;
}

.restaurant .name {
	height: 25px;
	padding: 10px 10px 5px 10px ;
	/*background: #cc0900;*/
	margin: 0;
}

.restaurant .restaurant_body {
	margin: 0;
}

.restaurant .name .left {
	font-weight: bold;
  color: #cc0900;
  	font-size: 17px;

}

.restaurant .name .right {
}

.restaurant .photos {
}

.restaurant .photos .image {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
	height: auto;
	float: left;
}

.restaurant .dinder_score {
  position:absolute;
  padding: 10px;
  width: 20px;
  height: 20px;
  top: 0px;
  left: 0px;
  color: #fff;
  font-weight: bold;
}

.restaurant .dinder_score.green {
  background: rgba(27, 126, 90, 0.8);
}

.restaurant .dinder_score.light_green {
  background: rgba(81, 154, 128, 0.8);
}

.restaurant .dinder_score.amber {
  background: rgba(195, 169, 69, 0.8);
}

.restaurant .dinder_score.light_red {
  background: rgba(223, 118, 126, 0.8);
}

.restaurant .dinder_score.red {
  background: rgba(107, 6, 13, 0.8);
}

.photos .first_row {
		overflow: hidden;
}

.photos .extended {
		overflow: hidden;
}

.restaurant.stacked:nth-child(2) {
    top: 27px;
    bottom: 23px; 
    left: 27px;
    right: 23px;
    transform: translate(2px, 2px) rotate(0.2deg);
}

.restaurant.stacked:nth-child(3) {
    top: 29px; 
    bottom: 21px;
    left: 29px;
    right: 21px;
    transform: translate(-2px, -1px) rotate(-0.2deg);
}


.restaurant .photos .image_1 {
	width: 66.6%;
	border-right: 2px solid #fff;
}

.restaurant .photos .image_2 {
	width: 33.3%;
	border-left: 2px solid #fff;
	border-bottom: 2px solid #fff;
}

.restaurant .photos .image_3 {
	width: 33.3%;
	border-left: 2px solid #fff;
	border-top: 2px solid #fff;
}

.restaurant .photos .hidden {
  display: none;
}



.restaurant .foreground {
	position:absolute;
	z-index: 10;
    top: 0px; 
    bottom: 0px;
    left: 0px;
    right: 0px;	
}






.price .highlight {
	color: #e78f02;
}
.price {
	margin-top: 3px;
	color: #ddd;
}

/*.footer-panel span {
	margin-right: 5px;
}
*/

.footer-panel {
	position: absolute;
	height: 80px;
	bottom: 0px;
	left: 8px;
	right: 8px;
	text-align: center;
}


.footer-panel a {
	width: 55px;
	height: 55px;
	margin: 4px 5px;
	display: inline-block;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.5);

}

.footer-panel a.call, .footer-panel a.directions {
	background: #888 !important;
	border-color: #888 !important;
}

.footer-panel a, .footer-panel a:visited {
	color: #fff;
}

.restaurant .description {
	text-align: left;
	font-size: 15px;
	padding: 0px 10px;
}

.restaurant .details .scores {
	margin: 10px auto 0 auto;
	width: 268px;
}

.restaurant .details .scores .row {
	float:left;
	margin: 0;
	width: 133px;
}

.restaurant .details .scores img {
	width: 32px;
	height: 32px;
	float:left;
	margin-right: 8px;
}

.restaurant .details .scores .progress {
	float:left;
	width: 85px;
	margin: 4px 0px;
}


ul {
	width: 100px;
	height: 100px;
	list-style: none;

}