/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery.swipeshow
 */

 * {
 font-family: 'Andika', sans-serif;
}

 .container {
 	top: 0px;
 	bottom: 0px;
 }

 .left {
 	float:left;
 }

 .right {
 	float:right;
 }

 .clear {
 	clear:both;
 }

.underline {
	text-decoration:underline;
}

.restaurant {
	position: absolute;
	top: 7px;
	bottom: 7px;
	left: 7px;
	right: 7px;
	margin: 0px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(0, 0, 0, 0.4);

}

.restaurant .name {
	height: 30px;
	padding: 5px 10px;
	background: #cc0900;
	color: #fff;
	margin: 0;
}

.restaurant .restaurant_body {
	margin: 0;
}

.restaurant .name .left {
	font-weight: bold;
}

.restaurant .photos {
	overflow: hidden;
}

.restaurant .photos .image {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
	height: auto;
	float: left;
}

.restaurant .photos .image_1 {
	width: 66.6%;
	border-right: 2px solid #fff;
}

.restaurant .photos .image_2 {
	width: 33.3%;
	border-left: 2px solid #fff;
	border-bottom: 2px solid #fff;
}

.restaurant .photos .image_3 {
	width: 33.3%;
	border-left: 2px solid #fff;
	border-top: 2px solid #fff;
}

.footer-panel {
	position: absolute;
	height: 70px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	text-align: center;
}



.price .highlight {
	color: #e78f02;
}
.price {
	color: #ddd;
}

/*.footer-panel span {
	margin-right: 5px;
}
*/
.footer-panel a {
	width: 80px;
}

.footer-panel a, .footer-panel a:visited {
	color: #fff;
}


.my-gallery {
  width: 250px !important;
  height: 250px !important; 
}

.my-gallery img {
	width: 250px;
	height: 250px;
}

.restaurant .description {
	text-align: center;
	margin-top: 10px;
}

.restaurant .details .scores {
	margin: 10px auto 0 auto;
	width: 268px;
}

.restaurant .details .scores .row {
	float:left;
	margin: 0;
	width: 133px;
}

.restaurant .details .scores img {
	width: 32px;
	height: 32px;
	float:left;
	margin-right: 8px;
}

.restaurant .details .scores .progress {
	float:left;
	width: 85px;
	margin: 4px 0px;
}

